# Python virtual environment
venv/
.venv312/

# Python cache
__pycache__/
*.py[cod]

# PyCharm settings
.idea/

# Server logs
*.log

# Uploaded resumes
uploads/*.pdf

# Environment variables
.env

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db
.vercel
.env*
